*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    background-color: #001242;
    color: #F4F4F9;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    height: 5rem;
    background-color: #000022;
    z-index: 1;
    left: 0;
    top: 0;
    border-bottom: #B8DBD9 3px solid;
}
nav a{
    text-decoration: none;
}
.main{
    position: relative;
    top: 6rem;
    text-align: center; 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about{
    width: 60%;
    background-color: #000022;
    padding: 1.5rem;
    border: #B8DBD9 5px outset;
}
.timeline{
    width: 80%;
    display: flex;
    flex-flow: column;
}
.segment{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #000022;
    box-shadow: #B8DBD9 5px 5px;
    margin-bottom: 1.5rem;
}
.segment h3{
    width: 30%;
}
.segment p{
    width: 60%;
}
